[Desktop Entry]
Name=IDE - URL Handler (Antigravity)
Comment=Experience liftoff
GenericName=Text Editor
Exec=/usr/share/antigravity-ide/antigravity-ide --open-url %U
Icon=antigravity-ide
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/antigravity;x-scheme-handler/antigravity-ide;
Keywords=vscode;
